extends layout

block content
  script(src="minesweeper-bundle.js")
  div(ng-app='minesweeperApp')
    div(ng-controller='minesweeperController')
      h1 Landmine Scooper
      h2 Settings (Changes won't happen until you click the smiley)
      label Width:
        input(type='text', ng-model='gridWidth')
      label Height:
        input(type='text', ng-model='gridHeight')
      label # of Mines:
        input(type='text', ng-model='numMines')
      h2 The Minefield ({{grid.width}}x{{grid.height}})
      p The game had already started. Feel free to click on a cell.
      div
        span Mines: {{numMines - grid.flagCount}} 
        button(ng-click='reset()') {{smileyGraphic}} 
        // span(ng-show='gameState === "new"') Time: 0
        // span(ng-show='gameState === "started"') Time: 
        span Time: 
          timer(interval='1000') {{seconds}}
      div#grid(ng-repeat='gy in gridYRange')
        span(ng-repeat='gx in gridXRange')
          span(ng-click='uncover(gx,gy)', ng-right-click='plantFlag(gx,gy)')
            img(ng-class='{"revealedCell": isRevealed(gx,gy)}', ng-src='assets/{{getCell(gx,gy)}}')
